<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_AjaxAdd>
            <version>0.0.1</version>
        </Cgi_AjaxAdd>
    </modules>
    <global>
        <blocks>
            <ajaxadd>
                <class>Cgi_AjaxAdd_Block</class>
            </ajaxadd>
            <!--<catalog>-->
                <!--<rewrite>-->
                    <!--<product_list>Cgi_AjaxAdd_Block_Catalog_Product_List</product_list>-->
                <!--</rewrite>-->
            <!--</catalog>-->
        </blocks>
        <helpers>
            <ajaxadd>
                <class>Cgi_AjaxAdd_Helper_Data</class>
            </ajaxadd>
            <checkout>
                <rewrite>
                    <cart>Cgi_AjaxAdd_Helper_Cart</cart>
                </rewrite>
            </checkout>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <ajaxadd>
                    <file>cgi_ajaxadd.xml</file>
                </ajaxadd>
            </updates>
        </layout>
        <routers>
            <cgi_ajaxadd>
                <use>standard</use>
                <args>
                    <module>Cgi_AjaxAdd</module>
                    <frontName>ajax</frontName>
                </args>
            </cgi_ajaxadd>
        </routers>
    </frontend>
</config>