<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_UpdatePrice>
            <version>0.0.1</version>
        </Cgi_UpdatePrice>
    </modules>
    <global>
        <helpers>
            <cgi_updateprice>
                <class>Cgi_UpdatePrice_Helper</class>
            </cgi_updateprice>
        </helpers>
        <models>
            <cgi_updateprice>
                <class>Cgi_UpdatePrice_Model</class>
            </cgi_updateprice>
        </models>
        <price_mass_action>
            <operations>
                <add>
                    <label>Add</label>
                    <class>cgi_updateprice/price_options_additional</class>
                </add>
                <substract>
                    <label>Substract</label>
                    <class>cgi_updateprice/price_options_substraction</class>
                </substract>
                <add_percent>
                    <label>Add percent</label>
                    <class>cgi_updateprice/price_options_addpercent</class>
                </add_percent>
                <substr_percent>
                    <label>Substract percent</label>
                    <class>cgi_updateprice/price_options_substrpercent</class>
                </substr_percent>
                <multiple>
                    <label>Multiplication</label>
                    <class>cgi_updateprice/price_options_multiplication</class>
                </multiple>
            </operations>
        </price_mass_action>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cgi_updateprice before="Mage_Adminhtml">Cgi_UpdatePrice_Adminhtml</cgi_updateprice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <cgi_blog_core_block_abstract_prepare_layout_before>
                        <class>Cgi_UpdatePrice_Model_Observer</class>
                        <method>prepareMassaction</method>
                    </cgi_blog_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>