<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_TopWidget>
            <version>0.0.2</version>
        </Cgi_TopWidget>
    </modules>
    <global>
        <blocks>
            <topwidget>
                <class>Cgi_TopWidget_Block</class>
            </topwidget>
        </blocks>
        <helpers>
            <topwidget>
                <class>Cgi_TopWidget_Helper</class>
            </topwidget>
        </helpers>
        <resources>
            <cgi_topwidget_setup>
                <setup>
                    <module>Cgi_TopWidget</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </cgi_topwidget_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <cgi_topwidget_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>Cgi_TopWidget_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </cgi_topwidget_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <cgi_topwidget_catalog_product_grid_collection_load_before>
                        <type>singleton</type>
                        <class>Cgi_TopWidget_Model_Observer</class>
                        <method>catalogProductGridCollectionLoadBefore</method>
                    </cgi_topwidget_catalog_product_grid_collection_load_before>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <topwidget>
                    <file>cgi_topwidget.xml</file>
                </topwidget>
            </updates>
        </layout>
    </frontend>
</config>