<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_Blog>
            <version>0.0.3</version>
        </Cgi_Blog>
    </modules>
    <global>
        <blocks>
            <blog>
                <class>Cgi_Blog_Block</class>
            </blog>
        </blocks>
        <models>
            <blog>
                <class>Cgi_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Cgi_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_posts</table>
                    </post>
                    <customer>
                        <table>customer_entity</table>
                    </customer>
                    <product>
                        <table>catalog_product_entity</table>
                    </product>
                    <post_product>
                        <table>blog_post_product</table>
                    </post_product>
                </entities>
            </blog_resource>
        </models>
        <helpers>
            <cgi_blog>
                <class>Cgi_Blog_Helper</class>
            </cgi_blog>
        </helpers>
        <resources>
            <cgi_blog_setup>
                <setup>
                    <module>Cgi_Blog</module>
                </setup>
            </cgi_blog_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <cgi_blog>
                    <file>cgi_blog.xml</file>
                </cgi_blog>
            </updates>
        </layout>
        <routers>
            <cgi_blog>
                <use>standard</use>
                <args>
                    <module>Cgi_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </cgi_blog>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cgi_blog before="Mage_Adminhtml">Cgi_Blog_Adminhtml</cgi_blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <cgi_blog_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>Cgi_Blog_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </cgi_blog_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_grid_collection_load_before>
                <observers>
                    <cgi_blog_sales_order_grid_collection_load_before>
                        <type>singleton</type>
                        <class>Cgi_Blog_Model_Observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </cgi_blog_sales_order_grid_collection_load_before>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
    </adminhtml>

</config>