<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_Widget>
            <version>0.0.1</version>
        </Cgi_Widget>
    </modules>
    <global>
        <blocks>
            <widget>
                <class>Cgi_Widget_Block</class>
            </widget>
        </blocks>
        <helpers>
            <Widget>
                <class>Cgi_Widget_Helper</class>
            </Widget>
        </helpers>
        <resources>
            <cgi_widget_setup>
                <setup>
                    <module>Cgi_Widget</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </cgi_widget_setup>
        </resources>
    </global>
    <!--<frontend>-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<Widget>-->
                    <!--<file>cgi_widget.xml</file>-->
                <!--</Widget>-->
            <!--</updates>-->
        <!--</layout>-->
    <!--</frontend>-->
</config>