<?xml version="1.0"?>
<config>
    <modules>
        <Cgi_ShippingCost>
            <version>0.0.2</version>
        </Cgi_ShippingCost>
    </modules>
    <global>
        <helpers>
            <shippingcost>
                <class>Cgi_ShippingCost_Helper</class>
            </shippingcost>
        </helpers>
        <blocks>
            <cgi_shippingcost>
                <class>Cgi_ShippingCost_Block</class>
            </cgi_shippingcost>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Cgi_ShippingCost_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Cgi_ShippingCost_Block_Adminhtml_Sales_Order_InvoiceTotals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Cgi_ShippingCost_Block_Adminhtml_Sales_Order_CreditmemoTotals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <cgi_shippingcost>
                <class>Cgi_ShippingCost_Model</class>
            </cgi_shippingcost>
        </models>
        <resources>
            <cgi_shippingcost_setup>
                <setup>
                    <module>Cgi_ShippingCost</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </cgi_shippingcost_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <shippingcost>
                        <class>Cgi_ShippingCost_Model_Total_Quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </shippingcost>
                </totals>
                <item>
                    <product_attributes>
                        <additional_shipping_cost />
                    </product_attributes>
                </item>
            </quote>
            <order_invoice>
                <totals>
                    <shippingcost>
                        <class>Cgi_ShippingCost_Model_Total_Invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </shippingcost>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shippingcost>
                        <class>Cgi_ShippingCost_Model_Total_Creditmemo</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </shippingcost>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <additional_shipping_cost>
                    <to_order_item>*</to_order_item>
                </additional_shipping_cost>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <additional_shipping_cost>
                    <to_quote_item>*</to_quote_item>
                </additional_shipping_cost>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <shippingcost>
                    <file>cgi_shippingcost.xml</file>
                </shippingcost>
            </updates>
        </layout>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <shippingcost_customattribute>
                        <class>Cgi_ShippingCost_Model_Observer</class>
                        <method>salesQuoteItemSetAdditionalShippingCost</method>
                    </shippingcost_customattribute>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </frontend>
</config>